////
///// Generic Button
////

.button{
    padding: $size-s;
    background-color: $primary;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    outline: none;
}

@media (any-hover){
    .button:hover{
        cursor: pointer;
        background-color: darken($primary, 5%);
    }
}



    // Ripple effect originally by Bence Szabo
    // https://codepen.io/finnhvman/pen/jLXKJw
.ripple {
    background-position: center;
    transition: background 0.4s;
    background: $primary radial-gradient(circle, transparent 1%, darken($primary, 5%) 1%) center/15000%;
  }
@media (any-hover){
    .ripple:hover {
        background: darken($primary, 5%) radial-gradient(circle, transparent 1%, darken($primary, 5%) 1%) center/15000%;
    }
}
.ripple:active {
    background-color: lighten($primary, 5%);
    background-size: 100%;
    transition: background 0s;
}

// Ripple effect originally by Bence Szabo
// https://codepen.io/finnhvman/pen/jLXKJw
.ripple--red {
    background-position: center;
    transition: background 0.4s;
    background: $color-danger radial-gradient(circle, transparent 1%, darken($color-danger, 5%) 1%) center/15000%;
    }
@media (any-hover){
    .ripple--red:hover {
        background: darken($color-danger, 5%) radial-gradient(circle, transparent 1%, darken($color-danger, 5%) 1%) center/15000%;
    }
}
.ripple--red:active {
    background-color: lighten($color-danger, 5%);
    background-size: 100%;
    transition: background 0s;
}



////
///// Big Button
////

.button--big{
    width: 40%;
    max-width: 15rem;
    margin: $size-m;
}

.button--secondary{
    background-color: lighten(gray, 15%);
}

.button--login{
    box-sizing: border-box;
    width: 60%;
    margin: $size-m;
    font-size: $size-m;
    padding: $size-s;
    min-height: 4.5rem;
}


