
.card{
  background: $color-card;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHeaderBar{
  width: 100%;
  padding: $size-s 0 $size-s 0;
  text-align: center;
  background-color: $primary;
  color: white;
  margin-bottom: $size-xl;
}

