
.generatorWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.pageTitle{
    padding: $size-l;
    text-align: center;
}

.generatorCard{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
    padding: $size-xl;
}

.cardHeader{
    text-align: center;
    font-size: $size-l;
    font-weight: lighter;
    padding: $size-m;
}

.smallCardHeader{
    font-size: $size-xs;
    font-style: italic;
}

#cardText{
    flex: 1;
}

.cardIcons{
    display: flex;
    justify-content: center;
}






@media screen and (min-width: 450px) {
    .generatorCard{
        width: 50%;
    }
}

