
.generatorWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pageTitle{
    padding: $size-l;
    text-align: center;
}

.generatorCard{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
    padding: $size-s;
}

.smallCardHeader{
    font-size: $size-xs;
    font-style: italic;
}

.cardBody{
    flex: 1;
}

.cardIcons{
    display: flex;
    justify-content: center;
}





@media screen and (min-width: 450px) {
    .card{
        width: 50%;
    }
}

