
.generatorWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.pageTitle{
    padding: $size-l;
    text-align: center;
}

.generatorCard{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 70%;
    padding: $size-xl;
}

.cardHeader{
    text-align: center;
    font-size: $size-l;
    font-weight: lighter;
    padding: $size-xs;
}

.smallCardHeader{
    font-size: $size-xs;
    font-style: italic;
}

#cardText{
    flex: 1;
    overflow: auto;
}

.cardIconWrapper{
    display: flex;
    justify-content: center;
}

////
///// Icon Buttons
////

.cardIcon{
    display: inline-block;
    font-size: $size-icon;
    color: grey;
    border: none;
    border-radius: 50%;
    padding: $size-xs;
}

.cardIcon:hover{
    cursor: pointer;
    color: $color-icon;
}

.cardIcon--red{
    color: red;
}

// Heart Bounce Animation

.bounce{
    animation: bounce .5s;
    transform-origin: center;
}

@keyframes bounce {
    0% {
      transform: scale(1,1);
    }
    10%{
        transform: scale(.8, .8);
    }
    40%{
        transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
}

.tooltipText{
    text-align: center !important;
    min-width: 4.5rem;

}



@media screen and (min-width: 450px) {
    .generatorCard{
        width: 50%;
    }
}

