.homeIcon{
    color: $background;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 4.5rem;
}

.homeGreeting{
    //position: absolute;
    font-size: $size-m;
    margin: 18rem $size-l $size-l $size-l;
}

.homeButtons{
    display: flex;
    justify-content: space-evenly;
}