.iconButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 5rem;
    min-height: 5rem;
    padding: 2rem;
    //color: $primary;
    color: $color-icon;
}

.iconButton__label{
    padding-top: 2rem;
    //font-weight: 400;
    font-size: $size-s;
}



@media (any-hover){
    .iconButton:hover{
        cursor: pointer;
        color: $primary;
        font-weight: 500;
    }
}