


.textInputWrapper{
  display: flex;
  margin-top: $size-xl;
  margin-bottom: $size-xl;
  //width: 80%;
  box-shadow: 0px -1px 0px $color-icon inset;
  transition: all .4s ease-out;
}

.textInputWrapper--focus{
  box-shadow: 0px -2px 0px $color-icon inset;
}


.textInput{
  display: block; 
  flex: 1;
  min-width: 10px;
  padding: .8rem;
  font-size: $size-m;
  border: none;
  background-color: transparent;
}

.textInput:focus{
  outline:none;
}

.inputMessage{
  font-size: $size-s;
  color: red;
  text-align: center;
}

.floatLabelWrapper{
  position: relative;
}

.floatLabel{
  position: absolute;
  top: 0;
  font-size: $size-m;
  color: $color-icon;
  transition: all .2s ease-in-out;
}

.floatLabel--up{
  position: absolute;
  top: -18;
  font-size: $size-s;
  color: rgb(126, 126, 126);
}

.inputIcon{
  align-self: center;
  font-size: $size-s;
  padding-left: .8rem;
  padding-right: .8rem;
  color: $color-icon;
}

.loginCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  max-width: 80%;
  margin: 10rem auto 0 auto;
}

// Resizing login card
@media screen and (min-width: 450px) {
  .loginCard{
    width: 60%;
  }}
@media screen and (min-width: 600px) {
  .loginCard{
    width: 50%;
  }}
@media screen and (min-width: 800px) {
  .loginCard{
    width: 40%;
  }}
@media screen and (min-width: 1025px) {
  .loginCard{
    width: 50%;
  }}