

.loginCard{
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 45rem;
  //max-height: 80%;
  width: 80%;
  max-width: 350px;
  margin-top: $size-s;
  
}

.cardDiceIcon{
  color: $primary;
  margin: $size-xl 0 $size-xl 0;
}

// Resizing login card
@media screen and (min-width: 450px) {
  .loginCard{
    width: 60%;
  }}
@media screen and (min-width: 700px) {
  .loginCard{
    width: 50%;
  }
  .cardDiceIcon{
    font-size: 6rem;
  }

}
