
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    padding: $size-l;
    width: 65%;
    max-width: 340px;
    color: $black;
}

.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalTitle{
    font-size: $size-m;
    //font-weight: 300;
    padding-bottom: $size-l;
}

.modalTitle--red{
    font-size: $size-m;
    font-weight: 500;
    padding-bottom: $size-s;
    color: $color-danger;
}

.modalButtonWrapper{
    display: flex;
    justify-content: flex-end;
}

.modalButton{
    color: darken($primary, 10%);
    padding: $size-s;
    margin: 0 $size-s 0 0;
    font-size: $size-s;
    font-weight: 400;
    cursor: pointer;
    transition-duration: .1s;
}

.modalButton--box{
    background-color: $primary;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.modalButton--red{
    background-color: rgb(248, 96, 96);
}

// " screen and (min--moz-device-pixel-ratio:0) " = 
// hack to that selects FireFox, which has a bug that ignores (any-hover)
@media (any-hover), screen and (min--moz-device-pixel-ratio:0){
    .modalButton--plain:hover{
        color: $black;
        background-color: darken(white, 20%);
    }
    .modalButton--box:hover{
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.4), 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    }
}

