
.navBar{
    display: flex;
    background: $primary;
    color: white;
    justify-content: space-between;
    //position: absolute;
    z-index: 1;
    //margin-bottom: $size-s;
}

.navTitle{
    flex: 1;
    padding: $size-xs;
}

.navButton{
    padding: $size-xs;
    align-self: flex-end;
}

@media (any-hover){
    .navButton:hover{
        cursor: pointer;
        background-color: darken($primary, 5%);
    }
}


.navIcon{
    font-size: 1.8rem;
    color: white;
}

.navShape{
    position: relative;
}

.navTriangle{
    width: 100%;
    height: 30rem;
    background-color: $primary;
    /* The points are: centered top, left bottom, right bottom */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
    //  Adjusts position so you can't see a gap
    position: absolute;
    top: -1rem;
    z-index: -1;
}