
.selectDropdown{
    font-size: $size-s;
    font-weight: 300;
    margin: 0 $size-xl 0 $size-xl;
    padding: 0 $size-s .4rem $size-s;
    border-bottom: 1px solid $color-icon;
    color: $color-icon;
    min-width: 8rem;
    text-align: center;
    cursor: pointer;
}

// " screen and (min--moz-device-pixel-ratio:0) " = 
// hack to that selects FireFox, which has a bug that ignores (any-hover)
@media (any-hover), screen and (min--moz-device-pixel-ratio:0){
    .selectDropdown:hover {
        color: black;
        border-bottom: 1px solid black;
    }
}