.textInputWrapper{
    display: flex;
    margin-top: $size-xl;
    margin-bottom: $size-xl;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 80%;
    min-height: 3.2rem;
    transition: all .4s ease-out;
    border-bottom: 2px solid lighten($color-icon, 40%);
  }
  
.textInputWrapper--focus{
    border-bottom: 2px solid $primary;
}
  
  
.textInput{
    display: inline-block; 
    box-sizing: border-box;
    min-width: 10px;
    width: 100%;
    padding: .8rem .8rem 0;
    font-size: $size-m;
    border: none;
}

.whiteInput{
    background-color: white;
    box-shadow: 0 0 0 100px white inset;
    -webkit-box-shadow: 0 0 0 100px white inset;
}

.whiteInput:focus{
    outline:none;
    box-shadow: 0 0 0 100px white inset;
    -webkit-box-shadow: 0 0 0 100px white inset;
}

.bgInput{
    background-color: $background;
    box-shadow: 0 0 0 100px $background inset;
    -webkit-box-shadow: 0 0 0 100px $background inset;
}

.bgInput:focus{
    outline:none;
    box-shadow: 0 0 0 100px $background inset;
    -webkit-box-shadow: 0 0 0 100px $background inset;
}


  


.floatLabelWrapper{
    position: relative;
    //background-color: pink;
    width: 100%;
  }
  
  .floatLabel{
    position: absolute;
    top: 6;
    font-size: $size-m;
    color: $color-icon;
    transition: all .2s ease-in-out;
  }
  
  .floatLabel--up{
    position: absolute;
    top: -18;
    font-size: $size-s;
    color: rgb(126, 126, 126);
  }
  
.inputIcon{
    align-self: center;
    font-size: $size-s;
    padding-left: .8rem;
    padding-right: .8rem;
    color: $color-icon;
}

.inputIcon--button{
    cursor: pointer;
}

@media (any-hover){
    .inputIcon--button:hover{
        color: darken($primary, 15%);
    }
}



.inputMessage{
    min-height: $size-s;
    font-size: $size-s;
    color: red;
    text-align: center;
  }
  
  .inputQuestionText{
    font-size: $size-s;
    text-align: center;
    margin: $size-s;
    margin-bottom: $size-s * 2;
  }
  
  .inputQuestionText a{
    font-weight: 500;
    color: darken($primary, 10%);
  }
  
  .inputQuestionText a:hover{
    text-decoration: underline;
  }
  

  