html, body {
  margin: 0;
  padding: 0;
  background: white;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', 'sans-serif';
  font-size: $size-m;
  background: $background;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
  cursor: pointer;
}
  
button:disabled{
  cursor: default;
}

@media screen and (min-width: 1200px) {
  body{
      width: 60%;
      margin: 0 auto 0 auto;
  }
}