html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

html{
  font-size: 62.5%;
  background: rgb(203, 220, 233);
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Roboto', 'sans-serif';
  font-size: $size-m;
  height: 100%;
  background: $background;
}

.page{ // functionally the 'body' as far as alignment is concerned
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button{
  cursor: pointer;
}
  
button:disabled{
  cursor: default;
}



@media screen and (min-width: 650px) {
  body{
      width: 650px;
      margin: 0 auto 0 auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}