// Colors

$primary: rgb(31, 170, 216);
$background: rgb(241, 241, 241);
$color-card: white;
$color-icon: rgb(80, 80, 80);


// Spacing
$size-icon: 2.4rem;
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;

// Media Queries
$mobile-breakpoint: 45rem;